.logo{color: rgb(30, 11, 197);
width: 2px;;
align-items: start;
padding-bottom: 220px;
font-size: 40px;
border-style: none;
font-family: 'Poppins', sans-serif;
box-shadow: 10px 10px 20px rgba(104, 100, 100, 0.548);
}
.fstul{display: flex;
 justify-content: space-between;}
 .singup{color: seashell;
background-color: rgb(47, 47, 168);
padding-top: 3px;
padding-bottom: 3px;
padding-left: 10px;
border-radius: 10px;
height: 30px;
width: 90px; 
align-items: center;
margin-top: 10px;
border-style: none;
box-shadow: 10px 10px 20px rgba(104, 100, 100, 0.548);
 
}
.stay{
color: seashell;
background-color: rgb(47, 47, 168);
padding-top: 3px;
padding-bottom: 3px;
padding-left: 10px;
border-radius: 10px;
height: 30px;
width: 110px; 
border-style: none;
align-items: center;
padding-left: 20px;
margin-left: 100px;
box-shadow: 10px 10px 20px rgba(104, 100, 100, 0.548);
  transform: translateX(20px);





}
.navbar {

background-image: url(https://imgs.search.brave.com/QUmYwYqakhgqS0hkva4VNrtDsKxns7fY0GH_rAX-TiY/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA2LzQ0Lzk4LzAx/LzM2MF9GXzY0NDk4/MDE0OF81QmdPR1pJ/VkM4MDk3ZjVXY0wy/M0E1Nm12UlNjaU1v/Mi5qcGc);
;
width: 200%;
  max-width: 1180px;
  padding: 10px;
  margin: 0 auto;
  display: block;
  border-radius: 50px;
  box-shadow: 2px 2px 10px rgba(104, 100, 100, 0.548);
}
.title{justify-content: center;
font-size: 50px;
 transform: translateY(-50px);

transform: translateX(-130px);

}
.navbar2{

padding-left: 390px;}

.navbar3{margin: 120px 120px 120px;


}

.div1{display: flex;}
.image{margin-top: 120px;
border-radius: 20px;}


.btn{color: #f4f5f8;
border-radius: 7px;
padding: 4px 4px 4px;
background-color: rgb(70, 73, 221);
font-size: 13px;
width: 150px;
height: 30px;
text-align: center;
font-weight: bold;
border-style: none;
box-shadow: 10px 10px 20px rgba(104, 100, 100, 0.548);
}
.p1{font-weight: 200;
color: #7a7171ee;}
.gg{display: block;}
.h1{font-size: 60px;
  margin-left: 300px;
  padding-bottom: 20px;
  display: flex;
color: #0d0d0d;}
.section1{ display: flex;



}

.div6{margin-left: 500px;
padding-right: 20px;}
.p2{font-weight: 600;
margin: 40px 0px 0px;}
.btn2{padding-left: 60PX;
  padding-right: 60px;
text-align: center;
box-shadow: 10px 10px 20px rgba(104, 100, 100, 0.548);
margin: 10px;
padding-bottom: 10px;
margin-left: 110px;
background-color: rgba(63, 79, 226, 0.952);
border-radius: 10px;
border-style: none;
color: #f4f5f8;
font-weight: bold;
padding-top: 3px;}
.ww{border-radius: 10px;
background-color:rgba(255, 255, 255, 0.767);
border-style: none;}
.div7{display: flex; 
gap: 60px;
font-size: 40px; 
color: #324bdb;
padding-bottom: 0px;



}
.navbar7{padding-left: 250px;
margin-top: 90px;

background-color:rgb(163, 163, 211);
border-radius: 20px;
margin-left: 200px;
margin-right: 100px;
margin-bottom: 50px;
max-width: 700px;
box-shadow: 10px 10px 20px rgba(104, 100, 100, 0.548);

}


.h4{font-size: 40px;
padding-top: 30px;}
.whatsay{margin-left: 600px;
   transform: translateY(-120px);
}
.img3{width: 40px;
height: 40px;
border-radius: 20px;}
.span{ 
justify-content: center;}
.span2{padding-bottom: 120px;}
.ul1{background-color: antiquewhite;
margin-right: 100px;
border-radius: 20px;
padding-top: 20px;
padding-bottom: 15px;
margin-top: 70px;
margin-left: 50px;
margin-bottom: 60px;}
.div10{display: flex;
   transform: translateY(-120px);

}   
.whatsay{font-size: 60px;
  margin-left: 400px;
  margin-top: 300px;
}
.div11{margin-left: 550px;
font-family: 'Poppins', sans-serif;
font-weight: 700;
color: #4F46E5;
font-size: 80px;
}
.div12{margin-left: 380px;
  color: gray;
   transform: translateY(-50px);

}
.div13{display: flex;
gap: 26px;
margin-left: 530px;
 transform: translateY(-70px);
 color: gray;
}